# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.pyc
.Python

# Virtual Environment
venv/
env/
ENV/
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Archivos de secretos
.env
.env.local
.env.*.local
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Migrations (opcional, depende de tu flujo)
# */migrations/*.py
# !*/migrations/__init__.py

# OS
Thumbs.db
.DS_Store